Title:             {{movie.title}}
Released:          {{movie.release_date}}
Runtime:           {{movie.runtime}}
Budget:            {{ '${0:,}'.format(movie.budget) }}
Earnings:          {{ '${0:,}'.format(movie.revenue) }}
Tagline:           {{movie.tagline}}
